@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.bn-editor {
  padding-top : 20px;
}

@media (max-width: 768px) {
  .bn-editor {
    padding-inline : 10px !important;
    padding-top : 20px;
  }
}